@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300, 400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*------ COLOR PALLET-----*/
/*
#565347  :  GREY(link & Paragraph)
#81785a  :  LIGHT GREY(border bottom)
#820000  :  RED(Headings)
#eae9e6  :  BORDER
*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, div {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:inherit;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.transition{
	-webkit-transition: .1s;
	transition: .1s;
}

.transition1{
	-webkit-transition: .2s;
	transition: .2s;
}



/* Shadows */
.templateAllShadow {
-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
}

/*.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}*/

.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
}

.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow1{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.innerShadow2{
  box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -webkit-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -moz-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -o-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
}

.bottomShadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.5);
}

.textShadow{
    font:100px Lato Bold;
    text-transform:uppercase;
    color:#313543;
    text-align:center;
    margin-top:10%;
    margin-bottom:0px;
    text-shadow:rgba(0,0,0,0.8) 0px -2px 0px,rgba(255,255,255,0.3) 0px 2px 2px;
 }



/* Different Resolution styles */

/*@media only screen and (min-width:641px) and (max-width:1366px) {*/

@media only screen and (min-width:1367px) and (max-width:1440px) {
}

@media only screen and (max-width:1366px) {
}


/*	Layout Styles	*/
html, body{
	background-color: #F5F5F5;
}

#container{
	position: relative;
	width:100%;
	margin:0 auto;
	
}


/* Header Styles */
header{
	height: 380px;
	background-color: #5ABDC4;
	position: relative;
	background-image: url(../site_images/login_background.png);
	background-repeat: repeat-x;
}

#lineSeperator{
	height:1px;
	background-color:#184447;
	border-bottom: 1px solid white;
	/*background-color:white;
	border-bottom: 2px solid #184447;*/
	/*background-color:rgba(225,225,225,.0);*/
}

#headerContainer{
	width:1200px;
	margin:0 auto;
}

header h1{
	font-size: 25px;
	color: #184447;
	font-weight: 700;
	word-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #184447;
	text-shadow: 0 0 10px white;
}

header h2{
	float:right;
	color:white;
	font-size:22px;
	position:relative;
	top:-42px;
	font-weight:300;
	text-shadow: 0 0 10px white;
}

header h1 span{
	font-weight:300;
	color: white;
}

header nav{
	width:1200px;
	margin:0 auto;
	text-align:center;
	margin-top:50px;
	word-spacing:2px;
}

#smallTagLine{
	font-size:30px;
	margin-bottom:10px;
	font-weight:300;
	color:#184447;
}

#bigTagLine{
	font-size:60px;
	margin-bottom:50px;
	font-weight:400;
	word-spacing:10px;
	color:#184447;
	text-shadow: 0 0 35px white;
}

#mainButtonsContainer{
	margin:0 auto;
	font-size:20px;
	width:650px;
	color:white;
	/*background-color:lightgrey;
	height:50px;*/
}

#calculatorButton{
	float:left;
	padding:20px 50px;
	border-radius:10px;
	border: 2px solid white;
	background-color:rgba(225,225,225,.1);
	position:relative;
	top:0;
	
}

#formButton{
	float:right;
	padding:20px 50px;
	border-radius:10px;
	border: 2px solid white;
	background-color:rgba(225,225,225,.1);
	position:relative;
	top:0;
}

#mainButtonsContainer div:hover{
	background-color:rgba(225,225,225,.3);
	cursor:pointer;
	position:relative;
	top:3px;
}
















#typesOfAnnuity{
	text-align:center;
	margin-top:70px;
	color:#484848;
}

#typesOfAnnuity h1{
	color:grey;
	font-size:30px;
	word-spacing:5px;
	letter-spacing:1px;
	margin-bottom:30px;
	/*font-weight:300;*/
}

#circleTypesContainer{
	/*width:950px;*/
	width:1000px;
	margin:0 auto;
	margin-top:30px;
	height:180px;
	margin-bottom:30px;
	position:relative;
}



#circleTypesContainer div{
	width: 170px;
	height: 170px;
	float:left;
	margin-right:20px;
	border-radius: 50%;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #534D48;
	border-right-color: #534D48;
	border-bottom-color: #534D48;
	border-left-color: #534D48;	
	
	font-size:25px;
	font-weight:300;
	color:#484848;
	
	-webkit-transform:scale(1);
    transform:scale(1);
	
	/*box-shadow: 0 10px 10px grey inset;*/
}

#circleTypesContainer div:hover{
	cursor:pointer;
}

body div #fixedType{
	border-color:#F2635D;
	margin-left:25px;
}

body div #fixedType:hover{
	background-color:#F2635D;
	color:white;
}

body div #variableType{
	border-color:#45B29D;
}

body div #variableType:hover{
	background-color:#45B29D;
	color:white;
}

body div #immediateType{
	border-color:#FFC13D;
}

body div #immediateType:hover{
	background-color:#FFC13D;
	color:white;
}

body div #indexedType{
	border-color:#6EC96E;
}

body div #indexedType:hover{
	background-color:#6EC96E;
	color:white;
}

body div #deferredType{
	border-color:#334D5C;
}

body div #deferredType:hover{
	background-color:#334D5C;
	color:white;
}

#circleTypesContainer div p{
	position:relative;
	top:-2px;
	left:-2px;
	border-radius:50%;
	width: 170px;
	height: 170px;
	line-height:170px;
	border: 2px solid rgba(0,0,0,0);
}

#circleTypesContainer div:last-child {
	margin-right:0px;
}



#circleTypesInfoContainerTriangle{
	width: 0; 
	height: 0; 
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid rgba(51,54,69,1);
	position:relative;
	top:190px;
	left:90px;
}

#circleTypesInfoContainer{
	padding:60px 0 60px 0;
	background-color:rgba(51,54,69,1);
	height:50px;
}

#circleTypesInfoContainerChange{
	width:950px;
	margin:0 auto;
	position:relative;
}

.InfoPara{
	color:white;
	line-height:25px;
	font-size:20px;
	letter-spacing:1px;
	word-spacing:3px;
	font-family:'Open Sans', 'Lato';
	font-weight:300;
	text-align:center;
	position:absolute;
	left:0px;
	right:0px;
	opacity:1;
}

#typesOfAnnuityDescription{
	color:#E85657;
	font-size:25px;
	width:1000px;
	margin:0 auto;
	text-align:center;
	margin-top:40px;
	font-weight:300;
	line-height:25px;
	letter-spacing:1px;
	word-spacing:3px;
	font-family:'Open Sans', 'Lato';
}




#annuityFormContainer{
	width:100%;
	background-color:#E85657;
	padding:90px 0 100px 0;
}

#annuityFormContainer h1{
	color:#FAF1E0;
	width:1000px;
	margin:0 auto;
	font-size:50px;
	text-align:center;
	margin-bottom:20px;
}

#annuityFormContainer #formInstructions{
	color:#A63D3E;
	width:1000px;
	margin:0 auto;
	font-size:25px;
	text-align:center;
	margin-bottom:30px;
}

#annuityCalculatorContainer{
	width:100%;
	background-color:#718DBE;
	padding:90px 0 100px 0;
	height:300px;
}

/* Footer Styles */
footer{
}


/* Main Buttons Styles */
#mainButtonsBackgroundContainer{
}

#mainButtonsContainer{
}

