@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300, 400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*------ COLOR PALLET-----*/
/*
#565347  :  GREY(link & Paragraph)
#81785a  :  LIGHT GREY(border bottom)
#820000  :  RED(Headings)
#eae9e6  :  BORDER
*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, div {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:inherit;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.transition{
	-webkit-transition: .1s;
	transition: .1s;
}

.transition1{
	-webkit-transition: .2s;
	transition: .2s;
}



/* Shadows */
.templateAllShadow {
-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
}

/*.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}*/

.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
}

.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow1{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.innerShadow2{
  box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -webkit-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -moz-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -o-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
}

.headerInsetShadow{
	-moz-box-shadow:   inset  0 -8px 8px -8px #696868;
   -webkit-box-shadow: inset  0 -8px 8px -8px #696868;
   box-shadow:         inset  0 -8px 8px -8px #696868;
}

.bottomShadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

.bottomFixedNavShadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);
}

.upperShadow {
  -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px -5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px -5px 5px 0px rgba(50, 50, 50, 0.5);
}

.textShadow{
    font:100px Lato Bold;
    text-transform:uppercase;
    color:#313543;
    text-align:center;
    margin-top:10%;
    margin-bottom:0px;
    text-shadow:rgba(0,0,0,0.8) 0px -2px 0px,rgba(255,255,255,0.3) 0px 2px 2px;
 }


/* Return To Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:10000000;
	display:none;
}
#return-to-top #topIcon {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position:relative;
	top:12px;
	left:12px;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover #topIcon {
    color: #fff;
    top: 5px;
}


/*-------FIXED SIDEBAR-------*/
#fixedSidebar{
	position:fixed;
	right:0px;
	/*right:-155px;*/
	top:30%;
	z-index:100000000000;
	color:white;
	font-size:16px;
	text-align:left;
	display:none;
}

#FS1Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

#FS1Container:hover, #FS2Container:hover, #FS3Container:hover{
	right:0px;
	cursor:pointer;
}

#FS2Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

#FS3Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

.leftTriangle1{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #45B29D;
	position:absolute;
	left:-23px;
}

.leftTriangle2{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #ec7475;
	position:absolute;
	left:-23px;
}

.leftTriangle3{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #6EC96E;
	position:absolute;
	left:-23px;
}

#FS1{
	padding:15px 0;
	width:150px;
	background-color:#45B29D;
	text-transform:capitalize;
}

#FS2{
	width:150px;
	padding:15px 0;
	background-color:#ec7475;
	text-transform:capitalize;
}

#FS3{
	width:150px;
	padding:15px 0;
	background-color:#6EC96E;
	text-transform:capitalize;
}


/* Different Resolution styles */

/*@media only screen and (min-width:641px) and (max-width:1366px) {*/

@media only screen and (min-width:1367px) and (max-width:1440px) {
}

@media only screen and (max-width:1366px) {
}


/*	Layout Styles	*/
html, body{
	background-color: #F5F5F5;
}

#container{
	position: relative;
	width:100%;
	margin:0 auto;
	
}


/* Header Styles */
header{
	height: 480px;
	background-color:#E85657;
	position: relative;
	background-repeat: repeat-x;
	background:url(../site_images/test3.jpg);
	background-position: 50% 0;
}

#lineSeperator{
	
	height:0px;
	background-color:#184447;
	border-bottom: 0px solid white;
	/*background-color:white;
	border-bottom: 2px solid #184447;*/
	/*background-color:rgba(225,225,225,.0);*/
}

#headerContainer{
	width:100%;
	margin:0 auto;
	background-color:white;
}

#h1h2Container{
	width:1200px;
	margin:0 auto;
	position:relative;
}

#headerBorder1{
	position:absolute;
	width:40px;
	height:2px;
	background-color:#333645;
	left:70px;
	/*box-shadow: 0 0 7px black;*/
}

#headerBorder2{
	position:absolute;
	width:175px;
	height:2px;
	background-color:#E85657;
	left:110px;
	/*box-shadow: 0 0 7px black;*/
}

header h1{
	font-size: 25px;	
	color:#E85657;
	font-weight: 700;
	word-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	text-shadow: 0 0 10px white;
	padding-left:70px;
	top:-3px;
}

header h2{
	float:right;
	font-size:22px;
	position:relative;
	top:-42px;
	text-shadow: 0 0 10px white;
	color:#333645;
	padding-right:70px;
}

header h1 span{
	font-weight:300;
	color: #333645;
}

header nav{
	width:1200px;
	margin:0 auto;
	text-align:center;
	margin-top:90px;
	word-spacing:2px;
}

#smallTagLine{
	font-size:35px;
	margin-bottom:10px;
	margin-left:20px;
	font-weight:300;
	color:white;
}

#bigTagLine{
	font-size:60px;
	margin-bottom:50px;
	margin-left:20px;
	font-weight:400;
	word-spacing:10px;
	color:white;
	/*text-shadow: 0 0 35px white;*/
}

#mainButtonsContainer{
	margin:60px auto 0 auto;
	font-size:20px;
	width:640px;
	color:white;
	position:relative;
	left:20px;
	/*background-color:lightgrey;
	height:50px;*/
}

#calculatorButton{
	float:left;
	padding:20px 50px;
	border-radius:10px;
/*	border: 2px solid white;
	background-color:rgba(225,225,225,.1);*/
	background-color:#E85657;
	position:relative;
	top:0;
	
}

#formButton{
	float:right;
	padding:20px 50px;
	border-radius:10px;
	/*border: 2px solid white;*/
	background-color:#E85657;
	position:relative;
	top:0;
}

#mainButtonsContainer div:hover{
	background-color:#e64748;
	cursor:pointer;
	position:relative;
	top:3px;
}














#typesOfAnnuity{
	text-align:center;
	margin-top:70px;
	color:#484848;
	position:relative;
}

#typesOfAnnuity h1{
	color:grey;
	font-size:25px;
	word-spacing:5px;
	letter-spacing:1px;
	margin-bottom:20px;
	/*font-weight:300;*/
}

#typesOfAnnuity h2{
	color:#E85657;
	text-transform:uppercase;
	word-spacing:2px;
	font-size:16px;
}

#circleTypesContainer{
	/*width:950px;*/
	width:1000px;
	margin:0 auto;
	margin-top:20px;
	height:180px;
	margin-bottom:30px;
	position:relative;
}



#circleTypesContainer div{
	width: 170px;
	height: 170px;
	float:left;
	margin-right:20px;
	border-radius: 50%;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #534D48;
	border-right-color: #534D48;
	border-bottom-color: #534D48;
	border-left-color: #534D48;	
	
	font-size:25px;
	font-weight:300;
	color:#484848;
	
	-webkit-transform:scale(1);
    transform:scale(1);
	
	/*box-shadow: 0 10px 10px grey inset;*/
}

#circleTypesContainer div:hover{
	cursor:pointer;
}

body div #fixedType{
	border-color:#F2635D;
	margin-left:25px;
}

body div #fixedType:hover{
	background-color:#F2635D;
	color:white;
}

body div #variableType{
	border-color:#45B29D;
}

body div #variableType:hover{
	background-color:#45B29D;
	color:white;
}

body div #immediateType{
	border-color:#FFC13D;
}

body div #immediateType:hover{
	background-color:#FFC13D;
	color:white;
}

body div #indexedType{
	border-color:#6EC96E;
}

body div #indexedType:hover{
	background-color:#6EC96E;
	color:white;
}

body div #deferredType{
	border-color:#334D5C;
}

body div #deferredType:hover{
	background-color:#334D5C;
	color:white;
}

#circleTypesContainer div p{
	position:relative;
	top:-2px;
	left:-2px;
	border-radius:50%;
	width: 170px;
	height: 170px;
	line-height:170px;
	border: 2px solid rgba(0,0,0,0);
}

#circleTypesContainer div:last-child {
	margin-right:0px;
}



#circleTypesInfoContainerTriangle{
	width: 0; 
	height: 0; 
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid rgba(51,54,69,1);
	position:relative;
	top:190px;
	left:90px;
}

#circleTypesInfoContainer{
	padding:60px 0 60px 0;
	background-color:rgba(51,54,69,1);
	height:120px;
}

#circleTypesInfoContainerChange{
	width:990px;
	margin:0 auto;
	position:relative;
}

.InfoPara{
	color:white;
	line-height:1.4;
	font-size:20px;
	font-family:'Open Sans', 'Lato';
	font-weight:300;
	text-align:center;
	position:absolute;
	left:0px;
	right:0px;
	opacity:1;
}

#typesOfAnnuityDescription{
	color:#E85657;
	font-size:25px;
	width:1000px;
	margin:0 auto;
	text-align:center;
	margin-top:40px;
	font-weight:300;
	line-height:25px;
	letter-spacing:1px;
	word-spacing:3px;
	font-family:'Open Sans', 'Lato';
}




#annuityFormContainer{
	width:100%;
	background-color:#E85657;
	padding:90px 0 100px 0;
}

#annuityFormContainer h1{
	color:#FAF1E0;
	width:1000px;
	margin:0 auto;
	font-size:50px;
	text-align:center;
	margin-bottom:20px;
}

#annuityFormContainer #formInstructions{
	color:#A63D3E;
	width:1000px;
	margin:0 auto;
	font-size:25px;
	text-align:center;
	margin-bottom:30px;
}











#annuityCalculatorContainer{
	width:100%;
	background-color:#F5F5F5;
	padding:70px 0 100px 0;
}

#annuityCalculatorContainer h1{
	color:#E85657;
	width:1000px;
	margin:0 auto;
	font-size:50px;
	text-align:center;
	margin-bottom:20px;
}

#centerCalculatorContainer{
	background-color:#FEF0E3;
	width:1200px;
	margin:50px auto;
	height:753px;
	position:relative;
}

#calculatorForm{
	float:left;
}

#calDesc{
	width:230px;
	position:absolute;
	bottom:0px;
	word-spacing:2px;
	font-size:16px;
	text-align:center;
	padding:50px;
	color:#E85657;
	font-weight:300;
}

#canvas_container{
	background-color:white;
	float:right;
	padding:60px 0px 60px 20px;
	position:relative;
	width:850px;
}

#canvas_container h2{
	font-weight: 300;
	font-size: 25px;
	font-weight:300;
	font-family:inherit;
	color:#E85657;
	display:inline-block;
	margin-bottom:20px;
	width:250px;
}

#content{
	font-size:30px;
	font-family:'Lato', 'Open Sans';
	color:#E85657;
	position:relative;
	height:150px;
	top:20px;
	border-top:1px solid #E85657;
	padding-top:20px;
	left:-20px;
	width:870px;
}

#grow{
	margin-left:140px;
}

#with{
	margin-left:150px;
}

.grey{
	color:grey;
}

#growthBox{
	font-size:16px;
	float:left;
	height:100px;
	line-height:1.4;
	letter-spacing:0px;
	word-spacing:2px;
	text-align:left;
	margin-left:20px;
	position:relative;
	left:100px;
	top:20px;
}

#withdrawBox{
	font-size:16px;
	float:right;
	line-height:1.4;
	letter-spacing:0px;
	word-spacing:2px;
	text-align:left;
	position:relative;
	right:80px;
}

#growthDesc{
	width:330px;
	padding:20px 20px 20px 20px;
	display:inline-block;
	border-top:3px solid #E85657;
	color:grey;
	word-spacing:2px;
	line-height:1.2;
	position:relative;
	top:5px;
	left:5px;
	background-color:#e4e4e4;
	text-align:center;
}

#withdrawDesc{
	width:315px;
	padding:20px 28px 25px 28px;
	display:inline-block;
	border-top:3px solid #E85657;
	word-spacing:2px;
	line-height:1.2;
	color:grey;
	position:relative;
	top:20px;
	left:80px;
	background-color:#e4e4e4;
	text-align:center;
}

#calculatorDisclaimer{
	font-size:12px;
	position:relative;
	top:40px;
	text-align:center;
	color:grey;
	margin-bottom:10px;
}


/* Footer Styles */
footer{
	background-color:#333645;
	width:100%;
	height:130px;
	padding-top:40px;
}

footer h1{
	width:1200px;
	margin:0 auto;
	text-align:center;
	font-size:16px;
	color:white;
}

footer p{
	position:relative;
	top:20px;
	width:1200px;
	margin:0 auto;
	text-align:center;
	color:#6D7393;
	font-size:13px;
}


/* Main Buttons Styles */
#mainButtonsBackgroundContainer{
}

#mainButtonsContainer{
}

